#start{
    height: 3%;
    width: 12%;
    font-size: 50%;
}

#usernameEnter{
    height: 3%;
    width: 30%;
}

#replayButton{
    height: 3%;
    width: 50%;
}

.buttons{
    width: 100%;
    height: 100%;
}

.buttonImages{
    width: 100%;
    height: 100%;
}

#game{
    position: fixed;
    left: 25%;
    width: 40vw;
}

.hidden{
    display: none;
}

.showing{
    display: "";
}